## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

In [1]:
# These libraries are pre-installed in SN Labs. If running in another environment please uncomment lines below to install them:
# These libraries are pre-installed in SN Labs. If running in another environment please uncomment lines below to install them:
!pip install ibm-db-sa
# Ensure we don't load_ext with sqlalchemy>=1.4 (incompadible)
!pip install SQLAlchemy
!pip install ipython-sql

Requirement already satisfied: ibm-db-sa in c:\users\16194\anaconda3\lib\site-packages (0.3.9)
Requirement already satisfied: ibm-db>=2.0.0 in c:\users\16194\anaconda3\lib\site-packages (from ibm-db-sa) (3.1.4)
Requirement already satisfied: sqlalchemy>=0.7.3 in c:\users\16194\anaconda3\lib\site-packages (from ibm-db-sa) (2.0.6)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\16194\anaconda3\lib\site-packages (from sqlalchemy>=0.7.3->ibm-db-sa) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\16194\anaconda3\lib\site-packages (from sqlalchemy>=0.7.3->ibm-db-sa) (2.0.2)
Requirement already satisfied: SQLAlchemy in c:\users\16194\anaconda3\lib\site-packages (2.0.6)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\16194\anaconda3\lib\site-packages (from SQLAlchemy) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\16194\anaconda3\lib\site-packages (from SQLAlchemy) (2.0.2)
Requirement already satisfied: ipython-sql in c:\users\16194\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: ipython-genutils in c:\users\16194\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython in c:\users\16194\anaconda3\lib\site-packages (from ipython-sql) (8.2.0)
Requirement already satisfied: prettytable in c:\users\16194\anaconda3\lib\site-packages (from ipython-sql) (3.6.0)
Requirement already satisfied: sqlparse in c:\users\16194\anaconda3\lib\site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\16194\anaconda3\lib\site-packages (from ipython-sql) (2.0.6)
Requirement already satisfied: six in c:\users\16194\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\16194\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.2)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\16194\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.5.0)
Requirement already satisfied: colorama in c:\users\16194\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: jedi>=0.16 in c:\users\16194\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\16194\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.2)
Requirement already satisfied: setuptools>=18.5 in c:\users\16194\anaconda3\lib\site-packages (from ipython->ipython-sql) (61.2.0)
Requirement already satisfied: backcall in c:\users\16194\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\16194\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\16194\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.20)
Requirement already satisfied: stack-data in c:\users\16194\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: pygments>=2.4.0 in c:\users\16194\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.11.2)
Requirement already satisfied: traitlets>=5 in c:\users\16194\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: pickleshare in c:\users\16194\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\16194\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\16194\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->ipython-sql) (0.2.5)
Requirement already satisfied: executing in c:\users\16194\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: pure-eval in c:\users\16194\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Requirement already satisfied: asttokens in c:\users\16194\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
%reload_ext sql




**DB2 magic in case of  UI service credentials.**



<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/servicecredentials.png" width="600">  

* Use the following format.

* Add security=SSL at the end

**%sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name?security=SSL**

In [3]:
%sql ibm_db_sa://kmy92432:qZdnQgURhdu7bvxn@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb?security=SSL

Traceback (most recent call last):
  File "c:\Users\16194\anaconda3\lib\site-packages\sql\connection.py", line 45, in __init__
    engine = sqlalchemy.create_engine(
  File "<string>", line 2, in create_engine
  File "c:\Users\16194\anaconda3\lib\site-packages\sqlalchemy\util\deprecations.py", line 277, in warned
    return fn(*args, **kwargs)  # type: ignore[no-any-return]
  File "c:\Users\16194\anaconda3\lib\site-packages\sqlalchemy\engine\create.py", line 556, in create_engine
    entrypoint = u._get_entrypoint()
  File "c:\Users\16194\anaconda3\lib\site-packages\sqlalchemy\engine\url.py", line 754, in _get_entrypoint
    cls = registry.load(name)
  File "c:\Users\16194\anaconda3\lib\site-packages\sqlalchemy\util\langhelpers.py", line 363, in load
    return impl.load()
  File "c:\Users\16194\anaconda3\lib\site-packages\setuptools\_vendor\importlib_metadata\__init__.py", line 194, in load
    module = import_module(match.group('module'))
  File "c:\Users\16194\anaconda3\lib\importlib\__init__.py", line 127, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "<frozen importlib._bootstrap>", line 1030, in _gcd_import
  File "<frozen importlib._bootstrap>", line 1007, in _find_and_load
  File "<frozen importlib._bootstrap>", line 972, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 228, in _call_with_frames_removed
  File "<frozen importlib._bootstrap>", line 1030, in _gcd_import
  File "<frozen importlib._bootstrap>", line 1007, in _find_and_load
  File "<frozen importlib._bootstrap>", line 986, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 680, in _load_unlocked
  File "<frozen importlib._bootstrap_external>", line 850, in exec_module
  File "<frozen importlib._bootstrap>", line 228, in _call_with_frames_removed
  File "c:\Users\16194\anaconda3\lib\site-packages\ibm_db_sa\__init__.py", line 22, in <module>
    from . import ibm_db, pyodbc, base
  File "c:\Users\16194\anaconda3\lib\site-packages\ibm_db_sa\ibm_db.py", line 20, in <module>
    from .base import DB2ExecutionContext, DB2Dialect
  File "c:\Users\16194\anaconda3\lib\site-packages\ibm_db_sa\base.py", line 662, in <module>
    class DB2Dialect(default.DefaultDialect):
  File "c:\Users\16194\anaconda3\lib\site-packages\ibm_db_sa\base.py", line 675, in DB2Dialect
    returns_unicode_strings = sa_types.String.RETURNS_CONDITIONAL
AttributeError: type object 'String' has no attribute 'RETURNS_CONDITIONAL'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])
Traceback (most recent call last):
  File "c:\Users\16194\anaconda3\lib\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
  File "c:\Users\16194\anaconda3\lib\site-packages\sql\connection.py", line 70, in set
    cls.current = existing or Connection(descriptor, connect_args, creator)
  File "c:\Users\16194\anaconda3\lib\site-packages\sql\connection.py", line 45, in __init__
    engine = sqlalchemy.create_engine(
  File "<string>", line 2, in create_engine
  File "c:\Users\16194\anaconda3\lib\site-packages\sqlalchemy\util\deprecations.py", line 277, in warned
    return fn(*args, **kwargs)  # type: ignore[no-any-return]
  File "c:\Users\16194\anaconda3\lib\site-packages\sqlalchemy\engine\create.py", line 556, in create_engine
    entrypoint = u._get_entrypoint()
  File "c:\Users\16194\anaconda3\lib\site-packages\sqlalchemy\engine\url.py", line 754, in _get_entrypoint
    cls = registry.load(name)
  File "c:\Users\16194\anaconda3\lib\site-packages\sqlalchemy\util\langhelpers.py", line 363, in load
    return impl.load()
  File "c:\Users\16194\anaconda3\lib\site-packages\setuptools\_vendor\importlib_metadata\__init__.py", line 194, in load
    module = import_module(match.group('module'))
  File "c:\Users\16194\anaconda3\lib\importlib\__init__.py", line 127, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "<frozen importlib._bootstrap>", line 1030, in _gcd_import
  File "<frozen importlib._bootstrap>", line 1007, in _find_and_load
  File "<frozen importlib._bootstrap>", line 972, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 228, in _call_with_frames_removed
  File "<frozen importlib._bootstrap>", line 1030, in _gcd_import
  File "<frozen importlib._bootstrap>", line 1007, in _find_and_load
  File "<frozen importlib._bootstrap>", line 986, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 680, in _load_unlocked
  File "<frozen importlib._bootstrap_external>", line 850, in exec_module
  File "<frozen importlib._bootstrap>", line 228, in _call_with_frames_removed
  File "c:\Users\16194\anaconda3\lib\site-packages\ibm_db_sa\__init__.py", line 22, in <module>
    from . import ibm_db, pyodbc, base
  File "c:\Users\16194\anaconda3\lib\site-packages\ibm_db_sa\ibm_db.py", line 20, in <module>
    from .base import DB2ExecutionContext, DB2Dialect
  File "c:\Users\16194\anaconda3\lib\site-packages\ibm_db_sa\base.py", line 662, in <module>
    class DB2Dialect(default.DefaultDialect):
  File "c:\Users\16194\anaconda3\lib\site-packages\ibm_db_sa\base.py", line 675, in DB2Dialect
    returns_unicode_strings = sa_types.String.RETURNS_CONDITIONAL
AttributeError: type object 'String' has no attribute 'RETURNS_CONDITIONAL'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [4]:
import ibm_db
import pandas
import ibm_db_dbi

In [5]:
dsn_hostname = "b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud" # e.g.: "54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud"
dsn_uid = "kmy92432"        # e.g. "abc12345"
dsn_pwd = "qZdnQgURhdu7bvxn"      # e.g. "7dBZ3wWt9XN6$o0J"
dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "bludb"            # e.g. "BLUDB"
dsn_port = "31249"                # e.g. "32733" 
dsn_protocol = "TCPIP"            # i.e. "TCPIP"
dsn_security = "SSL"              #i.e. "SSL"

In [6]:
#Create database connection
#DO NOT MODIFY THIS CELL. Just RUN it with Shift + Enter
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};"
    "SECURITY={7};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd,dsn_security)

try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)

except:
    print ("Unable to connect: ", ibm_db.conn_errormsg() )

Connected to database:  bludb as user:  kmy92432 on host:  b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [7]:
query='Select * from spacex'

stm=ibm_db.exec_immediate(conn, query)
ibm_db.fetch_both(stm)

pconn = ibm_db_dbi.Connection(conn)
pdf = pandas.read_sql(query, pconn)
pdf.head(10)

,DATE,TIME_UTC,BOOSTER_VERSION,LAUNCH_SITE,PAYLOAD,PAYLOAD_MASS_KG_,ORBIT,CUSTOMER,MISSION_OUTCOME,LANDING_OUTCOME
0,2010-06-04,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,2010-12-08,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,2012-05-22,7:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,2012-10-08,0:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,2013-03-01,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt
5,2013-09-29,16:00:00,F9 v1.1 B1003,VAFB SLC-4E,CASSIOPE,500,Polar LEO,MDA,Success,Uncontrolled (ocean)
6,2013-12-03,22:41:00,F9 v1.1,CCAFS LC-40,SES-8,3170,GTO,SES,Success,No attempt
7,2014-01-06,22:06:00,F9 v1.1,CCAFS LC-40,Thaicom 6,3325,GTO,Thaicom,Success,No attempt
8,2014-04-18,19:25:00,F9 v1.1,CCAFS LC-40,SpaceX CRS-3,2296,LEO (ISS),NASA (CRS),Success,Controlled (ocean)
9,2014-07-14,15:15:00,F9 v1.1,CCAFS LC-40,OG2 Mission 1 6 Orbcomm-OG2 satellites,1316,LEO,Orbcomm,Success,Controlled (ocean)

In [8]:
query='Select distinct (launch_site) from spacex'

stm=ibm_db.exec_immediate(conn, query)
ibm_db.fetch_both(stm)

pconn = ibm_db_dbi.Connection(conn)
pdf = pandas.read_sql(query, pconn)
pdf

    LAUNCH_SITE
0   CCAFS LC-40
1  CCAFS SLC-40
2    KSC LC-39A
3   VAFB SLC-4E


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [9]:
query="SELECT * FROM SPACEX WHERE LAUNCH_SITE LIKE 'CCA%' LIMIT 5"

stm=ibm_db.exec_immediate(conn, query)
ibm_db.fetch_both(stm)

pconn = ibm_db_dbi.Connection(conn)
pdf = pandas.read_sql(query, pconn)
pdf

,DATE,TIME_UTC,BOOSTER_VERSION,LAUNCH_SITE,PAYLOAD,PAYLOAD_MASS_KG_,ORBIT,CUSTOMER,MISSION_OUTCOME,LANDING_OUTCOME
0,2010-06-04,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,2010-12-08,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,2012-05-22,7:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,2012-10-08,0:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,2013-03-01,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [10]:
query="SELECT sum(PAYLOAD_MASS_KG_) FROM SPACEX WHERE CUSTOMER = 'NASA (CRS)'"

stm=ibm_db.exec_immediate(conn, query)
ibm_db.fetch_both(stm)

pconn = ibm_db_dbi.Connection(conn)
pdf = pandas.read_sql(query, pconn)
pdf

       1
0  45596

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [12]:
query="""SELECT AVG(PAYLOAD_MASS_KG_) AS "Average Payload Mass by NASA (CRS)" FROM SPACEX WHERE BOOSTER_VERSION = 'F9 v1.1'"""


stm=ibm_db.exec_immediate(conn, query)
ibm_db.fetch_both(stm)

pconn = ibm_db_dbi.Connection(conn)
pdf = pandas.read_sql(query, pconn)
pdf

   Average Payload Mass by NASA (CRS)
0                                2928

### Task 5

##### List the date when the first successful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [14]:
query="""SELECT MIN(DATE) AS "First Succesful Landing Outcome in Ground Pad" FROM SPACEX WHERE LANDING_OUTCOME = 'Success (ground pad)'"""

stm=ibm_db.exec_immediate(conn, query)
ibm_db.fetch_both(stm)

pconn = ibm_db_dbi.Connection(conn)
pdf = pandas.read_sql(query, pconn)
pdf

  First Succesful Landing Outcome in Ground Pad
0                                    2015-12-22

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [15]:
query="SELECT BOOSTER_VERSION from spacex where LANDING_OUTCOME = 'Success (drone ship)'  and PAYLOAD_MASS_KG_ between 4000 and 6000 "

stm=ibm_db.exec_immediate(conn, query)
ibm_db.fetch_both(stm)

pconn = ibm_db_dbi.Connection(conn)
pdf = pandas.read_sql(query, pconn)
pdf

  BOOSTER_VERSION
0     F9 FT B1022
1     F9 FT B1026
2  F9 FT  B1021.2
3  F9 FT  B1031.2

### Task 7




##### List the total number of successful and failure mission outcomes

In [49]:
import pandas as pd
query1="""SELECT COUNT(MISSION_OUTCOME) AS "Count Mission" FROM SPACEX WHERE MISSION_OUTCOME LIKE 'Success%'"""

stm=ibm_db.exec_immediate(conn, query1)
ibm_db.fetch_both(stm)

pconn = ibm_db_dbi.Connection(conn)
pdf1 = pandas.read_sql(query1, pconn)

query2="""SELECT COUNT(MISSION_OUTCOME) AS "Count Mission" FROM SPACEX WHERE MISSION_OUTCOME LIKE '%ailure%'"""

stm=ibm_db.exec_immediate(conn, query2)
ibm_db.fetch_both(stm)

pconn = ibm_db_dbi.Connection(conn)
pdf2 = pandas.read_sql(query2, pconn)
pdf=pd.concat([pdf1,pdf2])
pdf['Label']=['Success','Failure']
pdf

   Count Mission    Label
0            100  Success
0              1  Failure

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [54]:
query="SELECT DISTINCT BOOSTER_VERSION FROM SPACEX WHERE PAYLOAD_MASS_KG_ =(SELECT MAX(PAYLOAD_MASS_KG_) FROM SPACEX)"

pconn = ibm_db_dbi.Connection(conn)
pdf = pandas.read_sql(query, pconn)
pdf

   BOOSTER_VERSION
0    F9 B5 B1048.4
1    F9 B5 B1048.5
2    F9 B5 B1049.4
3    F9 B5 B1049.5
4    F9 B5 B1049.7
5    F9 B5 B1051.3
6    F9 B5 B1051.4
7    F9 B5 B1051.6
8    F9 B5 B1056.4
9    F9 B5 B1058.3
10   F9 B5 B1060.2
11   F9 B5 B1060.3

### Task 9


##### List the failed landing_outcomes in drone ship, their booster versions, and launch site names for in year 2015

In [60]:
query="SELECT LEFT(DATE,4) FROM SPACEX"

stm=ibm_db.exec_immediate(conn, query)
ibm_db.fetch_both(stm)

pconn = ibm_db_dbi.Connection(conn)
pdf = pandas.read_sql(query, pconn)
pdf

        1
0    2010
1    2010
2    2012
3    2012
4    2013
..    ...
96   2020
97   2020
98   2020
99   2020
100  2020

[101 rows x 1 columns]

In [69]:
query="SELECT BOOSTER_VERSION LAUNCH_SITE, LANDING_OUTCOME FROM SPACEX WHERE LEFT(DATE,4)= 2015 AND LANDING_OUTCOME = 'Failure (drone ship)'"

stm=ibm_db.exec_immediate(conn, query)
ibm_db.fetch_both(stm)

pconn = ibm_db_dbi.Connection(conn)
pdf = pandas.read_sql(query, pconn)
pdf

     LAUNCH_SITE       LANDING_OUTCOME
0  F9 v1.1 B1012  Failure (drone ship)
1  F9 v1.1 B1015  Failure (drone ship)

### Task 10

##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [66]:
query="SELECT LANDING_OUTCOME,COUNT(LANDING_OUTCOME) FROM SPACEX WHERE DATE BETWEEN '2010-06-04' AND '2017-03-20' \
GROUP BY  LANDING_OUTCOME \
ORDER BY COUNT(LANDING_OUTCOME) DESC ; "

stm=ibm_db.exec_immediate(conn, query)
ibm_db.fetch_both(stm)

pconn = ibm_db_dbi.Connection(conn)
pdf = pandas.read_sql(query, pconn)
pdf

          LANDING_OUTCOME   2
0              No attempt  10
1    Failure (drone ship)   5
2    Success (drone ship)   5
3      Controlled (ocean)   3
4    Success (ground pad)   3
5     Failure (parachute)   2
6    Uncontrolled (ocean)   2
7  Precluded (drone ship)   1